<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/clinicals.css' %}"> <!--jis jis html file meh yeh line likhe geh waha CSS lagh jaaye ga-->
    <title> PATIENT LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="bg"style="background-image: url('{% static 'pict.jpg' %}');">
    
    <h1>Patient</h1>
    
    <table class="parent" border="1"><!--border="1" seh lastname ke baadh ek vertical line aur firstname ke baadh vertical line mtlb grid ban jaaye ga-->
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Age</th>
            
        </tr>
        {% for patient in patient_list%}
        <tr >
            <td>{{patient.id}}</td>
            <td>{{patient.firstname}}</td>
            <td>{{patient.lastname}}</td>
            <td>{{patient.age}}</td>
            <td><a style="text-decoration:none" href="/update/{{patient.id}}">UPDATE</a></td>
            <td><a style="text-decoration:none" href="/delete/{{patient.id}}">DELETE</a></td>
            <td><a style="text-decoration:none" href="/adddata/{{patient.id}}">ADD DATA</a></td>
            <td><a style="text-decoration:none" href="/analyse/{{patient.id}}">ANALYSE</a></td>
        </tr>
        {% endfor%}
    </table>
    <br>
    <button class="but" >
        <a style="text-decoration:none" href="/create"><b>Add Patient</a>
    </button>
</body>