<!DOCTYPE html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/clinicals.css' %}">    
    <title>
        Create Patient
    </title>
</head>
<body id='bg' style="background-image: url('{% static 'pict.jpg' %}');">
    <h2> Create Patient</h2>
    <form method="post">
        <table class="table table-striped table-hover">
            {{form.as_table}} <!--table ke form meh form baneh ga isliye .as_table likha hai-->
            {% csrf_token%}
        </table>
        <br>
        <input type="submit" value="Save"/>
    </form>
</body>
